/**
* Main CSS
**/

@font-face {
	font-family: "Terminal";
	src: url("font/TerminusTTF-4.47.0.ttf");
}

body {
	font-family: 'Terminal';
}

/**
* Main Nav Bar
**/

#mainNav {
	width: 100%;
	background-color: grey;
	min-height: 100px;
	height: 10%;
}

#mainNav a {
	display: inline-block;
}

#mainNava {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 10vh;
	background-color: #000000;
	color: red;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-template-rows: repeat(2, 100px);
}

/**
* Main Content
**/

#mainContent {
	background-color: red;
	max-width: 1700px;
	width: 100%;
	margin: 0 auto;
}

/**
* Main Canvas
**/
#mainCanvas {
	background: #eee;
	display: block;
	margin: 0 auto;
	width: 480;
	height: 320;
}