#mainCanvas {
	background: #eee;
	display: block;
	margin: 0 auto;
	width: 480;
	height: 320;
}

@font-face {
	font-family: "Terminal";
	src: url("font/TerminusTTF-4.47.0.ttf");
}

p {
	font-family: 'Terminal';
}