/* 
---------------------- Table of Contents ----------------------
- 1. Colors                                                   -
- 2. Main                                                     -
- 3. Profile                                                  -
---------------------------------------------------------------
*/

/*
------------------------ Color Scheme ------------------------
- Main Color: #0093FF                                        -
- Accent Color: #0DFFE5                                      -
- Dark Color: #0D19FF                                        -
- Even Darker: #00074A                                       -
- Alt-Accent: #0CC4E8                                        -
- Alt-Main: #0C50E8                                          -
--------------------------------------------------------------
*/

/*--- 1. Colors ---*/
.mainColor {
	color: #0093FF;
}
.accentColor {
	color: #0DFFE5;
}

/*--- 2. Main ---*/
body {
	background-color: #5D5D5D;
	font-family: Helvetica, Arial, sans-serif;
	
}

.mainBlock {
	margin: 0 auto;
	background-color: white;
	width: 80%;
	padding-bottom: 25px;
	padding-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	max-width: 920px;
}

.mainBlock h1 {
	color: #00074A;
}

.mainLink {
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	font-weight: bold;
	color: #ffffff;
	background-color: #0CC4E8;
	transition: all 0.4s ease-in-out;
}

.mainLink:hover{
	background: #00074A;
	color: #ffffff;
}

.mainLink a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	width: 100%;
	padding: 10px;
}

/*--- 3. Profile ---*/
.profileMain {
	margin: 0 auto;
	text-align: center;
	width: 80%;
}

.profileMain h1 {
	color: #202020;
	padding-bottom: 0;
	margin-bottom: 0;
}

.profileImage {
	padding-top: 25px;
	width: 200px;
	border-radius: 80%;
}

.profileTitle {
	color: #0CC4E8;
}

.profileSubtitle {
	color: #606060;
	padding-top: 0;
	margin-top: 0;
}

.profileDescription {
	
}